// My Time - Brand Palette
$color-primary: #4cb8b3;
$color-secondary: #f6a56f;
$color-bg: #f9f8f6;
$color-bg-light: #ffffff;
$color-text: #2e2e2e;
$color-text-light: #707070;
$color-accent: #a6e3e9;

$light-gray: #e7e5e5;

// Estado
$color-success: #62c370;
$color-warning: #f7c948;
$color-error: #e75a5a;
$color-dark-bg: #1f2a2e;
